body {
    margin: 0 28em;
    padding: 0 2em;
    font-style: sans-serif, arial, helvetica;
    border-style: solid;
    box-shadow: 5px 10px #888888;
}

h1 {
    text-align: center;
}

.head {
    display: inline-block;
    padding-right: 1em;
}

div {
    padding-bottom: 0.5em;
}

.content {
    padding-right: 2em;
    display: inline-block;
}

.total {
    text-align: center;
}